@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  background-color: teal;
  flex-direction: column;
}

.container{
  margin-left: 22rem;
  justify-content: center;
  text-align: center;
  width: 50rem;
}
.seat{
  background-color: white;
  color: white;
  height: 1.2rem;
  width: 1.5rem;
  margin:.7rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.seat.selected{
  background-color: red;
}
.seat.occupied{
  background-color: green;
}
.margin-container{
  margin:0.8rem 0;
}
select{
  border: 0;
  background-color: white;
  border: 0.4rem;
  font-size: 1rem;
  margin-left: 0.6rem;
  padding: .4rem 0.9rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: .5rem;
}
.screen{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  height: 6rem;
  width: 40%;
  margin: 1rem 0;
  transform: rotateX(-45deg);
  margin-left: 15rem;
}
.screen-container{
  perspective: 1000px;
  margin-bottom: 4rem;
}
.showcase{
  justify-content: center;
  text-align: center;
  display: flex;
}
.showcase li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.8rem;
  padding: .4rem;
}
.showcase li small{
  margin-left:2px;
}
.seat:nth-of-type(3){
  margin-left: 1.5rem;
}
.row{
  display: flex;
  justify-content: center;
  text-align: center;
}
.seat:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.showcase .seat:hover{
  cursor: default;
  transform: scale(1);
}